# Lab 7.04

## Instructions
* We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test.

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

* An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

## Test 1

__Set up the hypotheses:__ Ho (Null Hypothesis) - the speed of packing is equal. Ha (Alternative Hypothesis) - a new machine will pack faster on the average than the machine currently used.

__Decide on the significance level:__ Alpha value defined as 0.05 or 5%.

__Decide on one or two tailed test:__ As alternative hypothesis assumes the average speed of new machine is greater than old one, it is one tailed test.

__Z or T value:__ T, as there are more than one sample.

In [49]:
import pandas as pd
import numpy as np
import statistics
import math
from scipy.stats import t
from scipy.stats import ttest_ind

In [31]:
df = pd.read_excel('./files_for_lab/machine.xlsx')
df.columns = ['new_machine', 'old_machine']
df

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [32]:
sample_mean1 = round(df['new_machine'].mean(), 2)
sample_std1 = round(df['new_machine'].std(), 2)
n1 = 10
sample_mean2 = round(df['old_machine'].mean(), 2)
sample_std2 = round(df['old_machine'].std(), 2)
n2 = 10

In [36]:
pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
print('T Statistic is: ', round(statistic, 4))

T Statistic is:  -3.4048

In [45]:
print("P value is: ", t.cdf(statistic,n1+n2-2))  #for one tailed
print("Critical Value of z is: ", t.ppf(0.05, n1+n2-2))

P value is:  0.0015790401926777413
Critical Value of z is:  -1.734063606617536

__Result__:
The p-value is too low --> we reject the null hypothesis.

__A new machine will pack faster on the average than the machine currently used.__

## Test 2

In [46]:
sophomores = [3.0, 1.7, 3.3, 2.88, 2.11, 2.6, 2.92, 3.6, 2.28, 2.82, 3.03, 3.13, 2.86, 3.49, 3.11, 2.13, 3.27]
juniors = [2.56, 2.77, 2.7, 3, 2.98, 3.47, 3.26, 3.2, 3.19, 2.65, 3, 3.39, 2.58]

In [48]:
df2 = pd.DataFrame((sophomores, juniors)).T
df2.columns = ['sophomores', 'juniors']
df2

    sophomores  juniors
0         3.00     2.56
1         1.70     2.77
2         3.30     2.70
3         2.88     3.00
4         2.11     2.98
5         2.60     3.47
6         2.92     3.26
7         3.60     3.20
8         2.28     3.19
9         2.82     2.65
10        3.03     3.00
11        3.13     3.39
12        2.86     2.58
13        3.49      NaN
14        3.11      NaN
15        2.13      NaN
16        3.27      NaN

In [50]:
tt = ttest_ind(df2['sophomores'], df2['juniors'], equal_var = False, nan_policy = 'omit')
tt

Ttest_indResult(statistic=-0.9418306399806093, pvalue=0.3547480347868771)

__Result:__ p_value > 0.05 (significance level) --> __the mean GPAs of sophomores and juniors don't differ.__